/* Reset do CSS */
* {  
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    max-width: 50em;
}

/* ============================ HEADER ============================ */

header {
    background-color: rgb(163, 163, 163);
    font-weight: 400;
    font-size: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1.5px solid black;
}

/* ==================== MAIN ======================================== */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px solid black;
}

/* ======================== CHAT e MENSAGENS INDIVIDUAIS =====================*/

#chat {
    padding-top: 12px;
}

.message {
    padding: 15px;
}

.message-txt > p {
    border: 1.5px solid black;
    padding: 3px;
}

.message-options {
    display: flex;
    justify-content: flex-end;
}


.edit-button {
    background-color: rgb(246, 167, 93);
    border: 1px solid transparent;
}

.edit-button:active {
    background-color: rgb(238, 132, 34);
  }  

.delete-button {
    background-color: rgb(246, 93, 93);
    border: 1px solid transparent;
}

.delete-button:active {
  background-color: rgb(192, 20, 20);
}

/*========================== MESSAGE BOX ===================================*/

.message-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.message-box > div {
    background-color: rgb(163, 163, 163);
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#msgToSend {
    display: flex;
    justify-content: flex-start;
}

#typedTxt {
    margin-right: 10px;
    width: 300px;
    /* height: 150px; */
    padding-bottom: 140px;
    padding-top: 10px;
}

#sendTxt {
    background-color: rgb(58, 108, 245);
    color: #fafafa;
    border-radius: 10%;
    border: 1px solid transparent;
    height: 27px;
    width: 67px;
}
